﻿@model MongoDB.Linq.MongoQuery<Pcelarstvo.Models.Sandak>
    


<h2>Sandaci</h2>


<ul>
@foreach (Pcelarstvo.Models.Sandak s in Model)
{ 
    
    <li>Naziv: @s.naziv BrojNaSpratovi: @s.spratovi</li>
}

</ul>